@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  } 

html {
    box-sizing: border-box;
    background: #ffbf00;
    font-family: 'Product Sans';
    font-size: 20px;
    font-weight: 200;
    
}


*, *:before, *:after {
    box-sizing: inherit;
}

input {
    width: 100%;
    padding: 20px;
}

.search-form {
    max-width: 400px;
    margin: 50px auto;
}

input.search {
    margin: 0;
    text-align: center;
    outline: 0;
    border: 10px solid #f7f7f7;
    width: 120%;
    left: -10%;
    position: relative;
    top: 10px;
    z-index: 2;
    border-radius: 5px;
    font-size: 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15), inset 0 0 2px rgba(0, 0, 0, 0.20)
}

.suggestions {
    margin: 0;
    padding: 0;
    position: relative;
}

.suggestions li {
    
    background: white;
    list-style: none;
    border-bottom: 1px solid #d8d8d8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    margin: 0;
    padding: 20px;
    transition: background 0.2s;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    flex-wrap: wrap;
    flex-direction: column;
    
}

.suggestions li:nth-child(even){
    transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
    background: linear-gradient(to bottom, #ffffff 0%, #EFEFEF 100%);
    margin-top: -5px;
}

.suggestions li:nth-child(odd) {
    transform: perspective(100px) rotateX(-3deg) translateY(3px);
    background: linear-gradient(to top, #ffffff 0%, #EFEFEF 100%);
}

span.number {
    font-size: 20px;
    font-weight: bold;
}

span.country {
    font-size: 15px;
    
    
}

div.role {
    font-size: 10px;
    position: relative;
    align-self: flex-end;
}

.hl {
    background: #ffbf00;
}

.name {
    text-align: left;
}