@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  } 

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: #d32f2f;
    font-family: 'Product Sans';
    font-size: 20px;
    font-weight: 200;
    
}


*, *:before, *:after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

input {
    width: 100%;
    padding: 20px;
}

.search-form {
    max-width: 400px;
    margin: 30px auto;
}

input.search {
    margin: 0;
    text-align: center;
    outline: 0;
    border: 10px solid #f7f7f7;
    width: 120%;
    left: -10%;
    position: relative;
    top: 10px;
    z-index: 2;
    border-radius: 5px;
    font-size: 40px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15), inset 0 0 2px rgba(0, 0, 0, 0.20);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.15), inset 0 0 2px rgba(0, 0, 0, 0.20)
}

.suggestions {
    margin: 0;
    padding: 0;
    position: relative;
}

.suggestions li {
    
    background: white;
    list-style: none;
    border-bottom: 1px solid #d8d8d8;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    margin: 0;
    padding: 20px;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-transform: capitalize;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    
}

.suggestions li:nth-child(even){
    -webkit-transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
            transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#EFEFEF));
    background: linear-gradient(to bottom, #ffffff 0%, #EFEFEF 100%);
    margin-top: -5px;
}

.suggestions li:nth-child(odd) {
    -webkit-transform: perspective(100px) rotateX(-3deg) translateY(3px);
            transform: perspective(100px) rotateX(-3deg) translateY(3px);
    background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(#EFEFEF));
    background: linear-gradient(to top, #ffffff 0%, #EFEFEF 100%);
}

span.number {
    font-size: 20px;
    font-weight: bold;
}

span.country {
    font-size: 15px;
    
    
}

div.role {
    font-size: 15px;
    position: relative;
    -ms-flex-item-align: end;
        align-self: flex-end;
}

.hl {
    background: #ffbf00;
}

.name {
    text-align: left;
    text-transform: capitalize
    
}

.length {
    text-align: center;
    font-size: 25px;
    color: white;
    position: relative;
    margin: 0;
}